body * {box-sizing: border-box;}
body {
  background: url(./images/background.png) no-repeat 0 0; /*Не работает :( */
  background-color: #9c7c7c;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}
.form-container {
  margin: 0 auto;
  font-size: 13px;
  background-color: #ffffff;
  width: 462px;
  height: 471px;
  border-radius: 0.5%;
  padding: 10px 31px 31px 31px;
}
a {
  text-decoration: none;
  color: #ea355a;
}
input {
  background-color: #f0f0f0;
  color: #7a7b7f;
  border: none;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  padding-left: 15 px;
}
button {
  margin-top: 16px;
  height: 50px;
  width: 400px;
  color: #ffffff;
  font-size: 20px;
  background-color: #ea355a;
  border: none;
  border-bottom: 5px solid #bd1962;
  border-radius: 5px;
}
.log-in {
  color: #7a7b7f;
  width: 394px;
  line-height: 20px;
}
.bottom-privacy {
  padding-top: 24px;
  padding-bottom: 60px;
  color: #7a7b7f;
  width: 408px;
  line-height: 20px;
}
#first-name {
  margin-top: 33px;
  margin-right: 8px;
  width: 194px;
}
#last-name {
  margin-top: 33px;
  width: 194px;
}
#emailadress {
  width: 400px;
  margin-top: 15px;
}
#password {
  width: 400px;
  margin-top: 15px;
}